@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  background: url("/Assets/images/bg-pattern-bottom-desktop.svg") no-repeat
      bottom right,
    url("/Assets/images/bg-pattern-top-desktop.svg") no-repeat top left;

  background-color: rgb(255, 255, 255);
  min-height: 100vh;
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 78rem;
  height: 35rem;

  padding: 50px;
}

.top {
  display: flex;
  flex: 2;
}

.left {
  width: 50%;
}

.heading-one {
  font-size: 70px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}
.para-one {
  font-size: 20px;
  margin-top: 25px;
  font-weight: 400;
  margin-bottom: 3rem;
  width: 23rem;
  color: hsl(303, 10%, 53%);
}

.reviews {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(300, 24%, 96%);
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.reviews span {
  margin-left: 20px;
}

.r-2 {
  left: 60%;
}
.r-3 {
  left: 70%;
}

.bottom img {
  border-radius: 50%;
  height: 50px;
  margin: 0 30px 0 -120px;
}

.bottom-container {
  display: flex;
  gap: 50px;
}

.box {
  background-color: hsl(300, 43%, 22%);
  width: 300px;
  height: 170px;
  font-size: 16px;
  padding: 40px;
  border-radius: 10px;
}
.box-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.name {
  color: white;
  font-weight: 700;
}
.buyer {
  color: hsl(333, 80%, 67%);
}
.box-bottom {
  color: white;
  font-weight: 500;
  line-height: 25px;
}

.box-2 {
  margin-top: 2%;
}
.box-3 {
  margin-top: 4%;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
    height: auto;
    padding: 30px;
    top: 50%;
  }

  .heading-one {
    font-size: 50px;
  }

  .para-one {
    font-size: 18px;
    width: 100%;
  }

  .reviews {
    width: 90%;
    padding: 10px;
  }

  .box {
    width: 90%;
    height: auto;
    padding: 20px;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
    height: auto;
    padding: 20px;
    top: 70%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .heading-one {
    font-size: 40px;
    text-align: center;
  }

  .para-one {
    font-size: 16px;
    width: 100%;
    text-align: center;
  }

  .reviews {
    width: 75%;
    padding: 10px;
    margin-left: -20px;
  }

  .box {
    width: 70%;
    height: auto;
    padding: 20px;
  }

  .bottom-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
