body {
  background-color: hsl(47, 88%, 63%);
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.main {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 500px;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  box-shadow: 8px 8px 0px 0px rgb(0, 0, 0);
  font-family: "NTR";
}
.main .image1 {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}
.text1 {
  margin-left: -250px;
  background-color: hsl(47, 88%, 63%);
  color: rgb(0, 0, 0);
  display: inline-block;
  border: none;
  padding: 0px 15px;
  border-radius: 5px;
  font-weight: 900;
}
.text2 {
  margin-left: -190px;
  font-weight: 600;
  margin-top: 5px;
}
.text3 {
  text-align: left;
  margin-left: 23px;
  margin-top: -50px;
  font-size: 30px;
  font-weight: bolder;
}
.text4 {
  text-align: left;
  margin-left: 20px;
}
.text5 {
  text-align: left;
  margin-left: 20px;
  margin: 20px;
}
.text5 img {
  width: 35px;
}
.text6 {
  display: flex;
  margin-top: -45px;
  margin-left: 50px;
}

.attribution {
  margin-top: 38%;
}
