@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  background-color: hsl(275, 100%, 97%);
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgimg {
  min-width: 100%;
}

.container {
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 600px;
  height: fit-content;
  top: 30%;
  border-radius: 20px;
  padding: 40px;
  margin-top: -80px;
}

.title {
  margin-top: -20px;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}

.title img {
  height: 45px;
  margin-bottom: -3px;
  margin-right: 5px;
}

.question {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  margin-left: -8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.answer {
  font-weight: 350;
}

.plus-button,
.plus-minus {
  position: absolute;
  left: 89%;
  height: 35px;
  cursor: pointer;
}

.attribution {
  position: absolute;
  bottom: 3%;
}

.plus-button {
  z-index: 1;
}

.answer,
.plus-minus {
  display: none;
}

.break-line {
  border: 0.5px solid rgba(0, 0, 0, 0.074);
}
